body {
  background-color: #a38f85;
  padding: 0;
  padding-bottom: 0;
  margin: 0;
  /* background-image: url(/back.jpg); */
}

header {
  font-family: "Times New Roman", Times, serif;

  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  height: 85px;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 18px;
  }
}
.how {
  margin-left: auto;
}

.how,
.backdrop--authorization button {
  height: 50px;
  width: 120px;
  background-color: #a38f85;
  font-weight: 700;
  color: rgb(0, 0, 0);

  border-radius: 10px;
  border: 2px solid rgb(65, 64, 64);
  box-shadow: 1px 4px 2.2px rgb(0 0 0 / 3%), -5px -1px 5.3px rgb(0 0 0 / 5%),
    -1px 2px 10px rgb(0 0 0 / 6%), -1px 2px 17.9px rgb(0 0 0 / 7%),
    0px 5px 33.4px rgb(0 0 0 / 9%), 3px 5px 80px rgb(0 0 0 / 12%);

  transition: box-shadow 200ms linear;
}

.main-list {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;

  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.main-list a,
.place_for_search,
header,
footer {
  background-color: #ede9e3;
}

a {
  border-radius: 10px;
  border: 2px solid rgb(65, 64, 64);
  box-shadow: 1px 4px 2.2px rgb(0 0 0 / 3%), -5px -1px 5.3px rgb(0 0 0 / 5%),
    -1px 2px 10px rgb(0 0 0 / 6%), -1px 2px 17.9px rgb(0 0 0 / 7%),
    0px 5px 33.4px rgb(0 0 0 / 9%), 3px 5px 80px rgb(0 0 0 / 12%);

  font-size: 24px;
  transition: box-shadow 200ms linear;
  text-decoration: none;
  color: black;
  width: 16%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  a {
    width: 80%;
  }
}

a:hover,
.how:hover,
.place_for_search:focus,
.backdrop--authorization input:focus,
.modal--authorization {
  outline: none;
  box-shadow: 1px 4px 2.2px rgb(0 0 0 / 3%), -5px -1px 5.3px rgb(0 0 0 / 5%),
    -1px 2px 10px rgb(0 0 0 / 6%), -1px 2px 17.9px rgb(0 0 0 / 7%),
    0px 5px 33.4px rgb(0 0 0 / 9%), 3px 5px 80px rgb(0 0 0 / 12%);
}

a:active,
.how:active,
.backdrop--authorization button:active {
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
.backdrop {
  z-index: 10000;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.349);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: scalex(1) scaleY(1) translate(-50%, -50%);
  font-weight: 500;
  font-size: 22px;
  max-width: 600px;
  min-width: 250px;
  padding: 40px;

  background-color: #ede9e3;
  border-radius: 10px;
  border: 2px solid rgb(65, 64, 64);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 370px) {
  .modal {
    padding: 20px;
  }
}

body.modal-open {
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
  padding: 0;
}
.backdrop.is-hidden .modal {
  transform: scalex(0.8) scaleY(0.4);
  opacity: 0;
}

footer {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.692);
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
}

footer span {
  width: 100%;
  font-size: 18px;
  text-align: center;
}

.footer-link {
  border-radius: 50%;
  border: 0;
  overflow: hidden;
  box-shadow: 0;
  transition: box-shadow 200ms linear;
  text-decoration: none;
  color: black;
  width: 40px;
  height: 40px;
}

.footer--icon {
  fill: #a38f85;
}
.search {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 300px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .search {
    position: sticky;
  }
}

.search form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 100%;
}

.place_for_search {
  border-radius: 10px;
  border: 2px solid rgb(65, 64, 64);

  width: 300px;
  padding: 10px;
  padding-left: 15px;
  color: black;
}
@media screen and (max-width: 768px) {
  .search {
    width: 100%;
    right: 0;
    display: flex;
  }
  .place_for_search {
    width: 75%;
  }
}
input::placeholder {
  color: rgb(78, 78, 78);
}
.main-list {
  min-height: 100vh;
}
.main-list a.hide {
  display: none;
}
.backdrop--authorization {
  padding: 0;
}

.backdrop--authorization form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.backdrop--authorization input,
.backdrop--authorization button {
  border-radius: 10px;
  border: 2px solid rgb(65, 64, 64);
  background-color: #a38f85;

  box-shadow: 1px 4px 2.2px rgb(0 0 0 / 3%), -5px -1px 5.3px rgb(0 0 0 / 5%),
    -1px 2px 10px rgb(0 0 0 / 6%), -1px 2px 17.9px rgb(0 0 0 / 7%),
    0px 5px 33.4px rgb(0 0 0 / 9%), 3px 5px 80px rgb(0 0 0 / 12%);

  transition: box-shadow 200ms linear;
}
.backdrop--authorization input {
  width: 100%;
  height: 30px;
  text-align: center;
}

.backdrop--authorization button {
  height: 50px;
}
.title--authorization {
  text-align: center;
}

.modal--authorization {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 446px;
  padding: 20px;
  padding-bottom: 30px;
  transform: scalex(1) scaleY(1) translate(-50%, -50%);
  background-color: #ede9e3;
  border-radius: 10px;
  border: 2px solid rgb(65, 64, 64);
  box-shadow: 1px 4px 2.2px rgb(0 0 0 / 3%), -5px -1px 5.3px rgb(0 0 0 / 5%),
    -1px 2px 10px rgb(0 0 0 / 6%), -1px 2px 17.9px rgb(0 0 0 / 7%),
    0px 5px 33.4px rgb(0 0 0 / 9%), 3px 5px 80px rgb(0 0 0 / 12%);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 527px) {
  .modal--authorization {
    max-width: 280px;
    padding: 15px;
  }
}
.hide {
  display: none;
}
